// destroy.scss

.destroy {
  color: white;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: .5em;
  text-decoration: none;
  top: .3em;
}

.destroy:after {
  content: '✖'; /* UTF-8 symbol */
}
