// Variables & mixins

// Variables

// Body
$body-bg:             #bdcd67 !default;
$body-color:          #373a3c !default;

$link-decoration:     none !default;
$link-color:          $body-color !default;
$link-hover-color:    darken($link-color, 15%) !default;

$list-style:          none !default;
$line-height:         1.5 !default;

// Typography
$font-family-sans-serif:     "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:             1rem !default;
$font-size-md:               .75rem !default;
$font-size-h1:               2.5rem !default;

// input
$input-bg:            rgba(0, 0, 0, 0.003);
$input-margin:        0;
$input-width:         100%;
$input-font-size:     1.7em;
$input-border:        none;
$input-padding:       1rem 1rem 1rem 4rem;
$input-box-shadow:    inset 0 -2px 1px rgba(0,0,0,0.03);
$input-box-sizing:    border-box;
$input-smooting:      antialiased;

// Buttons
$btn-color:               #fff !default;
$btn-color-bg:            #5c5c0a !default;
$btn-color-selected:      #ffff80 !default;
$btn-color-bg-selected:   $btn-color-bg;


$btn-padding:             5px 15px 5px 15px;
$btn-border:              1px solid $body-bg !default;
$btn-border-selected:     1px solid darken($btn-color-selected, 25%) !default;

$btn-font-weight:         normal !default;
$btn-float:               right !default;
$btn-text-align:          left !default;

// user
$user-color:          #fff;
$user-color-bg:       #697914;
$user-font:           $font-size-md;

$user-padding:        .7em 0;
$user-border-style:   solid;
$user-border-color:   $user-color;
$user-margin:         .3em .7em;

$user-selected:       #b81414;

$user-avatar-bg-color:  $user-color;
$user-avatar-float:     left;
$user-avatar-margin:    0 .7em;
$user-avatar-border:    1px solid white;
$user-avatar-height:    52px;
$user-avatar-width:     52px;

$user-repos-margin-top: .7rem;
$user-repos-clear:      left;

$user-repo-bg-color:    #fff;
$user-repo-color:       #445200;
$user-repo-margin:      .7rem;
$user-repo-padding:     .3rem .7rem;

// Mixins

@mixin font-smoothing($smoothing) {
  -webkit-font-smoothing: $smoothing;
  -moz-font-smoothing: $smoothing;
  font-smoothing: $smoothing;
}

// Close

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;
